<!-- Validation failure messages -->
<% if @molde.errors.any? %>
  <% @molde.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit molde #<%= @molde.id %>
</h1>

<hr>

<!-- Form molde start -->
<form action="/update_molde/<%= @molde.id %>" method="post">
<!-- Form molde end -->

  <button class="btn btn-block btn-outline-secondary">
    Update molde
  </button>
</form>

<hr>

<a href="/moldes">
  Go back
</a>
