<h1>
  Edit molde #<%= @molde.id %>
</h1>

<hr>

<form action="/update_molde/<%= @molde.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update molde
  </button>
</form>

<hr>

<a href="/moldes">
  Go back
</a>
