<h1>
  Add a new molde
</h1>


<hr>

<form action="/create_molde" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create molde
  </button>
</form>

<hr>

<a href="/moldes">
  Go back
</a>
