<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ejercicios

    <a data-toggle="collapse" href="#pre_ex_ejercicios_new_form">
      Add ejercicio
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @pre_ex.ejercicios.each do |ejercicio| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/ejercicios/<%= ejercicio.id %>">
          <%= ejercicio.aprobado %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_ejercicio_from_last_pre_ex/<%= ejercicio.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="pre_ex_ejercicios_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
