<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Contentidos

    <a data-toggle="collapse" href="#eje_contentidos_new_form">
      Add contentido
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @eje.contentidos.each do |contentido| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/contentidos/<%= contentido.id %>">
          <%= contentido.eje_id %>
        </a>

        <a href="/delete_contentido_from_eje/<%= contentido.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="eje_contentidos_new_form">
        <%= render partial: "eje_templates/eje_contentidos_new_form" %>
      </div>
    </div>

  </ul>
</div>
