<!-- Form contentido start -->
<form action="/create_contentido_from_eje" method="post">
<!-- Form contentido end -->

  <!-- Label and input for eje_id start -->
  <!-- Input for eje_id start -->
  <input type="hidden" name="eje_id" value="<%= @eje.id %>">
  <!-- Input for eje_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create contentido
  </button>
</form>
