<form action="/create_contentido_from_eje" method="post">

  <input type="hidden" name="eje_id" value="<%= @eje.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create contentido
  </button>
</form>
