<!-- Validation failure messages -->
<% if @eje.errors.any? %>
  <% @eje.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit eje #<%= @eje.id %>
</h1>

<hr>

<!-- Form eje start -->
<form action="/update_eje/<%= @eje.id %>" method="post">
<!-- Form eje end -->

  <button class="btn btn-block btn-outline-secondary">
    Update eje
  </button>
</form>

<hr>

<a href="/ejes">
  Go back
</a>
