<h1>
  Edit eje #<%= @eje.id %>
</h1>

<hr>

<!-- Form eje start -->
<form action="/update_eje/<%= @eje.id %>" method="post">
<!-- Form eje end -->

  <button class="btn btn-block btn-outline-secondary">
    Update eje
  </button>
</form>

<hr>

<a href="/ejes">
  Go back
</a>
