<h1>
  Add a new eje
</h1>


<hr>

<form action="/create_eje" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create eje
  </button>
</form>

<hr>

<a href="/ejes">
  Go back
</a>
