<!-- Validation failure messages -->
<% if @eje.present? %>
  <% if @eje.errors.any? %>
    <% @eje.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new eje
</h1>


<hr>

<!-- Form eje start -->
<form action="/create_eje" method="post">
<!-- Form eje end -->

  <button class="btn btn-block btn-outline-secondary">
    Create eje
  </button>
</form>

<hr>

<a href="/ejes">
  Go back
</a>
