<h1>
  Add a new eje
</h1>


<hr>

<!-- Form eje start -->
<form action="/create_eje" method="post">
<!-- Form eje end -->

  <button class="btn btn-block btn-outline-secondary">
    Create eje
  </button>
</form>

<hr>

<a href="/ejes">
  Go back
</a>
