<h1>
  Edit contentido #<%= @contentido.id %>
</h1>

<hr>

<!-- Form contentido start -->
<form action="/update_contentido/<%= @contentido.id %>" method="post">
<!-- Form contentido end -->

  <!-- Label and input for eje_id start -->
  <div class="form-group">
    <label for="eje_id">
      Eje
    </label>

    <!-- Input for eje_id start -->
    <input type="text" id="eje_id" name="eje_id" class="form-control" value="<%= @contentido.eje_id %>">
    <!-- Input for eje_id end -->
  </div>
  <!-- Label and input for eje_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update contentido
  </button>
</form>

<hr>

<a href="/contentidos">
  Go back
</a>
