<% if @contentido.errors.any? %>
  <% @contentido.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit contentido #<%= @contentido.id %>
</h1>

<hr>

<form action="/update_contentido/<%= @contentido.id %>" method="post">

  <div class="form-group">
    <label for="eje_id">
      Eje
    </label>

    <%= select_tag(:eje_id, options_from_collection_for_select(Eje.all, :id, :created_at, @contentido.eje_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update contentido
  </button>
</form>

<hr>

<a href="/contentidos">
  Go back
</a>
